doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    //- meta(http-equiv='refresh' content='30') 
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mens Fashion | Login & singup
    style
      include ../public/css/login-and-singup-folder/loginstyle.css
      include ../public/css/main-css/style.css
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", rel="stylesheet",integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin="anonymous")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap",rel="stylesheet")
  body(style="background: rgba(236, 236, 236, 1)")
    .loding-img-container
      img#loading(src="images/Rolling scg.svg", alt="")
    include navbar.pug
    #login-and-singup-section.container
      #login-and-singup-main-container.container.bg-light
        #login-and-singup-container-1.login-and-singup-container.my-5
              form#login-form
                .mb-3
                    label.form-label(for='exampleInputEmail1') Email address
                    input#login-email.form-control(type='email' aria-describedby='emailHelp' autocomplete="off" placeholder="Enter Email")
                .mb-3
                    label.form-label(for='exampleInputPassword1') Password
                    input#login-password.form-control(type='password' autocomplete="off" placeholder="Enter password")
                button.btn.btn-success#login-submit-btn(type='submit') Sing in
                button.btn.btn-outline-primary#logins-singup-btn(type='button') sing up

        #login-and-singup-container-2.login-and-singup-container.my-5
              .error-images.mb-3
                img(src="images/error icon.png", alt="")
                h1 Error !
                span#error-msg Please Enter Corrext Email
              form#singup-form(method='post' action='/loginandsingup') 
                .mb-3
                    label.form-label(for='username') User name
                    input#username.form-control(name='username' type='text' )
                .mb-3
                    label.form-label(for='email') Email
                    input#email.form-control(name='email' type='Email')
                .mb-3
                    label.form-label(for='mobilenumber') Enter number
                    input#mobilenumber.form-control(name='mobilenumber' type='number')
                .mb-3
                    label.form-label(for='password') Enter New Password
                    input#password.form-control(name='password' type='password')
                .mb-3
                    label.form-label(for='confirmpassword') Confirm Password
                    input#confirmpassword.form-control(name='confirmpassword' type='password')
                .form-check.login-checkbox-container
                    input.bg-danger.border-danger#tandcCheckbox.form-check-input(name='tandcCheckbox' type='checkbox' checked)
                    label.form-check-label.m-0(for='tandcCheckbox') Agree To Our 
                      a.text-danger Terms And Conditions
                .form-check.login-checkbox-container
                    input.border-danger.form-check-input#upcoming-notification(name='offersmail' type='checkbox')
                    label.form-check-label.m-0(for='exampleCheck1') recieve upcomimg offers and events mails
                button.btn.btn-success#new-user-submit-btn(type='submit') Submit
                button.btn.btn-outline-primary#signups-login-btn(type='button') Login

script(type='text/javascript' src='js/loginandsingup.js')
  


script(
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js",
  ntegrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB",
  crossorigin="anonymous"
)
script(
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js",
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13",
  crossorigin="anonymous"
)

//- script(type='text/javascript' src='js/main.js')

